[Unit]
Description=Retry StoneAge CDN certificate deployment daily

[Timer]
OnCalendar=daily
RandomizedDelaySec=1h
Persistent=true

[Install]
WantedBy=timers.target
